[Unit]
Description=Bluetooth initialization for AP6212 
Before=bluetooth.service

[Service]
Type=forking
ExecStartPre=/usr/sbin/rfkill unblock bluetooth
ExecStart=/usr/bin/ap6212-bt-init

[Install]
WantedBy=multi-user.target
