# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  !LAYERS_ROOT!/meta \
  !LAYERS_ROOT!/meta-poky \
  !LAYERS_ROOT!/meta-yocto-bsp \
  !LAYERS_ROOT!/meta-sunxi \
  !LAYERS_ROOT!/meta-emlid-neutis/meta-neutis-bsp \
  !LAYERS_ROOT!/meta-emlid-neutis/meta-neutis-distro \
  !LAYERS_ROOT!/meta-openembedded/meta-oe \
  !LAYERS_ROOT!/meta-openembedded/meta-networking \
  !LAYERS_ROOT!/meta-openembedded/meta-webserver \
  !LAYERS_ROOT!/meta-openembedded/meta-python \
  "
