[Unit]
Description=Post install service to initialize Emlid Neutis
After=sysinit.target
Requires=sysinit.target
Before=multi-user.target shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/sbin/post-install.sh

[Install]
WantedBy=basic.target
